venv
__pycache__/
.vscode/

usermanagement/__pycache__/
usermanagement/migrations/__pycache__/

esganalyse/__pycache__/
esganalyse/migrations/__pycache__/


chatbot/__pycache__/
chatbot/migrations/__pycache__/


/media/
# ignore all files in the venv directory
venv/*
!venv/

# ignore all files in the __pycache__ directory
__pycache__/*
!__pycache__/
*.pyc

# ignore all files in the .vscode directory
.vscode/*
!.vscode/

# ignore all .env files
*.env
